.btn-ph-primary{

    background-color: rgba(182, 140, 90, 1);
   color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 600;
}

.banner-ph{

   background-image: url(images/banner.png);
  background-repeat: no-repeat;
   height: 100vh;
  

}

.header-text{

    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
}

@media only screen and (max-width: 576px) {
    /* banner & carousel */
    .banner {
      padding: 30px 30px;
    }
  
    .banner-items h1 {
      font-size: 52px;
    }
}

.ph-card-img-top{
    width: 72%;
    height: 72%;
}