.btn-ph-primary{

    background-color: rgba(182, 140, 90, 1);
   color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 600;
}

.banner-ph{

   background-image: url(images/banner.png);
  background-repeat: no-repeat;
   height: 100vh;
  

}